@*<span class="btn btn-mini">[ @ViewBag.TongSoLuong] <span class="icon-shopping-cart"></span></span>*@
<a href="@Url.Action("GioHang","GioHang")"><i class="fa fa-shopping-cart"></i> (@ViewBag.TongSoLuong)</a>

