USE [master]
GO
/****** Object:  Database [QLThuoc]    Script Date: 4/9/2018 4:07:37 PM ******/
CREATE DATABASE [QLThuoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThuoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NGOCANH\MSSQL\DATA\QLThuoc.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLThuoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NGOCANH\MSSQL\DATA\QLThuoc_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThuoc]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonNhap]    Script Date: 4/9/2018 4:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonNhap](
	[MaHDN] [varchar](10) NOT NULL,
	[MaThuoc] [varchar](10) NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[Gia] [bigint] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC,
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietHoaDonXuat]    Script Date: 4/9/2018 4:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonXuat](
	[MaHDX] [varchar](10) NOT NULL,
	[MaThuoc] [varchar](10) NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[Gia] [bigint] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDX] ASC,
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CoSo]    Script Date: 4/9/2018 4:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CoSo](
	[MaCS] [varchar](10) NOT NULL,
	[TenCS] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 4/9/2018 4:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaNCC] [varchar](10) NULL,
	[NgayNhap] [date] NULL,
	[MaNVNhap] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonXuat]    Script Date: 4/9/2018 4:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonXuat](
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NULL,
	[NgayXuat] [date] NULL,
	[MaNVXuat] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/9/2018 4:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiThuoc]    Script Date: 4/9/2018 4:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiThuoc](
	[MaLoaiThuoc] [varchar](10) NOT NULL,
	[TenLoaiThuoc] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 4/9/2018 4:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[SDT] [varchar](11) NULL,
	[DiaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/9/2018 4:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[MaCS] [varchar](10) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[SDT] [varchar](11) NULL,
	[DiaChi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 4/9/2018 4:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Thuoc](
	[MaThuoc] [varchar](10) NOT NULL,
	[TenThuoc] [nvarchar](50) NULL,
	[MaLoaiThuoc] [varchar](10) NULL,
	[MaDVSX] [varchar](10) NULL,
	[CongDung] [nvarchar](100) NULL,
	[HSD] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[NuocSX] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChiTietHoaDonNhap] ([MaHDN], [MaThuoc], [DonViTinh], [Gia], [SoLuong]) VALUES (N'HDN01', N'T01', N'Vỉ', 15000, 20)
INSERT [dbo].[ChiTietHoaDonNhap] ([MaHDN], [MaThuoc], [DonViTinh], [Gia], [SoLuong]) VALUES (N'HDN01', N'T02', N'Vỉ', 28000, 30)
INSERT [dbo].[ChiTietHoaDonNhap] ([MaHDN], [MaThuoc], [DonViTinh], [Gia], [SoLuong]) VALUES (N'HDN01', N'T03', N'Vỉ', 35000, 10)
INSERT [dbo].[ChiTietHoaDonXuat] ([MaHDX], [MaThuoc], [DonViTinh], [Gia], [SoLuong]) VALUES (N'HDX01', N'T01', N'Vỉ', 20000, 3)
INSERT [dbo].[ChiTietHoaDonXuat] ([MaHDX], [MaThuoc], [DonViTinh], [Gia], [SoLuong]) VALUES (N'HDX01', N'T02', N'Vỉ', 30000, 4)
INSERT [dbo].[ChiTietHoaDonXuat] ([MaHDX], [MaThuoc], [DonViTinh], [Gia], [SoLuong]) VALUES (N'HDX01', N'T03', N'Vỉ', 40000, 1)
INSERT [dbo].[CoSo] ([MaCS], [TenCS], [DiaChi], [SDT]) VALUES (N'CS01', N'Bệnh viện E', N'Trần Cung', N'01672340980')
INSERT [dbo].[CoSo] ([MaCS], [TenCS], [DiaChi], [SDT]) VALUES (N'CS02', N'Bệnh viện Bạch Mai', N'Tạ Quang Bửu', N'01658005160')
INSERT [dbo].[CoSo] ([MaCS], [TenCS], [DiaChi], [SDT]) VALUES (N'CS03', N'Bệnh viện Việt Đức', N'Hoàng Quốc Việt', N'01642428979')
INSERT [dbo].[HoaDonNhap] ([MaHoaDon], [MaNCC], [NgayNhap], [MaNVNhap]) VALUES (N'HDN01', N'NCC01', CAST(N'2107-01-04' AS Date), N'NV01')
INSERT [dbo].[HoaDonNhap] ([MaHoaDon], [MaNCC], [NgayNhap], [MaNVNhap]) VALUES (N'HDN02', N'NCC02', CAST(N'2107-01-04' AS Date), N'NV02')
INSERT [dbo].[HoaDonNhap] ([MaHoaDon], [MaNCC], [NgayNhap], [MaNVNhap]) VALUES (N'HDN03', N'NCC03', CAST(N'2107-01-04' AS Date), N'NV03')
INSERT [dbo].[HoaDonXuat] ([MaHoaDon], [MaKH], [NgayXuat], [MaNVXuat]) VALUES (N'HDX01', N'KH01', CAST(N'2018-05-05' AS Date), N'NV02')
INSERT [dbo].[HoaDonXuat] ([MaHoaDon], [MaKH], [NgayXuat], [MaNVXuat]) VALUES (N'HDX02', N'KH03', CAST(N'2018-05-05' AS Date), N'NV01')
INSERT [dbo].[HoaDonXuat] ([MaHoaDon], [MaKH], [NgayXuat], [MaNVXuat]) VALUES (N'HDX03', N'KH02', CAST(N'2018-05-05' AS Date), N'NV03')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'KH01', N'Nguyễn Văn Giáp', N'Hà Nội', N'01674540999')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'KH02', N'Bùi Kim Quyên', N'Hà Nội ', N'01673452098')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'KH03', N'Dương Hoài Phương', N'Nam Định', N'01674357766')
INSERT [dbo].[LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc], [GhiChu]) VALUES (N'LT01', N'Kháng Sinh', N'Dạng Viên')
INSERT [dbo].[LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc], [GhiChu]) VALUES (N'LT02', N'Giảm đau', N'Dạng Viên')
INSERT [dbo].[LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc], [GhiChu]) VALUES (N'LT03', N'Giảm cân', N'Dạng Viên')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [DiaChi]) VALUES (N'NCC01', N'Công Ty An Khang', N'01676517647', N'Hà Nội')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [DiaChi]) VALUES (N'NCC02', N'Công Ty Cổ phần Việt Pháp', N'01658216427', N'Bắc Giang')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [DiaChi]) VALUES (N'NCC03', N'Công Ty Thuốc Tây', N'01672836472', N'Hà Nội')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MaCS], [GioiTinh], [NgaySinh], [SDT], [DiaChi]) VALUES (N'NV01', N'Thạch Thùy Chinh', N'CS01', 0, CAST(N'1997-10-10' AS Date), N'01654005160', N'Hà Nội')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MaCS], [GioiTinh], [NgaySinh], [SDT], [DiaChi]) VALUES (N'NV02', N'Đỗ Thị Kiều Anh', N'CS02', 0, CAST(N'1997-02-03' AS Date), N'01659274736', N'Nam Định')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MaCS], [GioiTinh], [NgaySinh], [SDT], [DiaChi]) VALUES (N'NV03', N'Nguyễn Thị Ngọc Ánh', N'CS03', 0, CAST(N'1997-10-03' AS Date), N'01679274782', N'Bắc Giang')
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [MaLoaiThuoc], [MaDVSX], [CongDung], [HSD], [SoLuong], [NuocSX]) VALUES (N'T01', N'Thuốc Xenetix', N'LT01', N'NCC01', N'Trị giảm đau', N'3-3-2030', 2000, N'MỸ')
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [MaLoaiThuoc], [MaDVSX], [CongDung], [HSD], [SoLuong], [NuocSX]) VALUES (N'T02', N'Thuốc Tetracyckine', N'LT03', N'NCC02', N'Trị Viêm nang', N'3-3-2030', 2000, N'ANH')
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [MaLoaiThuoc], [MaDVSX], [CongDung], [HSD], [SoLuong], [NuocSX]) VALUES (N'T03', N'Thuốc Timilol', N'LT03', N'NCC03', N'Đau Mắt', N'3-3-2030', 2000, N'Hàn Quốc')
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaHDN])
REFERENCES [dbo].[HoaDonNhap] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[Thuoc] ([MaThuoc])
GO
ALTER TABLE [dbo].[ChiTietHoaDonXuat]  WITH CHECK ADD FOREIGN KEY([MaHDX])
REFERENCES [dbo].[HoaDonXuat] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDonXuat]  WITH CHECK ADD FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[Thuoc] ([MaThuoc])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNVNhap])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonXuat]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaCS])
REFERENCES [dbo].[CoSo] ([MaCS])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([MaDVSX])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([MaLoaiThuoc])
REFERENCES [dbo].[LoaiThuoc] ([MaLoaiThuoc])
GO
USE [master]
GO
