#ToanTrang{
    position:relative;
    background-color:white;
}

.DangKyDangNhap{
    float: right;
    margin-top: -1%;
}
.DangKyDangNhap a:hover{
    color:aqua;
}
/*css divDanhMuc*/
#divDanhMuc {
height:30px;

}
.navMenu {
    float:right;
    margin-right:10%;
}
.navMenu li{
    display:inline;
    border-right:solid 1px rgba(0,0,0,.1);
    padding:20px;
    padding-top:19px;
    padding-bottom:22px;
         -webkit-transition:all .5s ease-out;  
      -moz-transition:all .5s ease-out;  
       -ms-transition:all .5s ease-out;  
}
/*Css hover thay đổi màu chậm*/
.navMenu li:hover{
    background-color:rgba(0,0,0,.5);
     -webkit-transition:all .5s ease-out;  
      -moz-transition:all .5s ease-out;  
       -ms-transition:all .5s ease-out;  
}
/*css divTimKiem*/
#txtTimKiem {
    float:left;
    margin-left:5%;
    width: 300px;
}
#txtTimKiem input{
     height:0;
     
}
#divHinhAnhTimKiem button {
    margin-right:-65px;
    padding:0 10px 0 10px;
    background-color:#426db5;
}
#divHinhAnhTimKiem button:hover {
    
    background-color:rgba(0,0,0,.5);

}
#divHinhAnhTimKiem img {
    width:30px;
    height:30px;

}
/*Css cho nivoslider */
#slider {
    float:right;
    width:900px;
    height:360px;
 
}
    #slider img {
      width:900px;
    height:360px;
    }
#divMenuLeft{
     float:left;

}
#DanhmucSP div{
    display:inline;
    width:100%
}
#DanhmucSP div a img{
    width:207px;
    height:120px;
}
#divLeft {
    width:30%;
    float:left;

}
#divLeft .item{
    width:100%;    
}
#divRight {
      float:right;
      width:70%;
}