
@{
    Layout = "~/Views/LayOut/NguoiDungLayout.cshtml";
    ViewBag.Title = "Index";
}
@section NoiDungBenPhai{
    <h1> Nhà thuốc MTA</h1>
    <p>236 Hoàng Quốc Việt, Cố Nhuế, Hà Nội</p>
    <p>Tel: 1900 561 252</p>
    <div class="col-md-4">
        <div id="map" style="width:400px;height:400px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.609763774815!2d105.7836544141802!3d21.04829479248876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3277f870d7%3A0xf27837785a779a8a!2zMjM2IEhvw6BuZyBRdeG7kWMgVmnhu4d0LCBD4buVIE5odeG6vywgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1529772884728" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
           
    }

